.body {
    width: 100vw;
    height: 100%;
    margin: 0;
    display: block;
    overflow-x: hidden;
    background-color: rgb(16,22,29);

}

.nav {
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;


    width: 100%;
    height: 20%;
    padding-bottom: 1%;
    padding-top: 1%;

    border-bottom-style: solid;
    border-bottom-width: .5em;
    border-color: rgb(167, 170, 175);

}

.links {
    display: flex;
    flex-direction: row;
}

.nav-logo-container {
    height: fit-content;
    width: 15%;
    padding-left: 5%;
}

.nav-logo {
    height: fit-content;
    width: 100%;
}

.nav-logo-alt {
    display: none;
}

.nav-text {
    padding: 1em;
    margin: 10px;
    height: 20%;
    width: fit-content;

    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 1.5em;
    color: white;
    transition: color 200ms ease-out 100ms;
}


.nav-text:hover {
    color: rgb(167,170,175);
}

.nav-text:focus {
    color: rgb(133, 133, 133);
}

.nav-text:active {
    color: red;
}

.main-title-container {
    display: flex;
    width: 82vw;
    height: 20vh;
    margin-left: 9vw;

    justify-content: space-between;

    color: white;
    font-family: 'Montserrat';
    background-color: rgb(16,22,29);
}

.main-title {
    display: flex;
    width: 40%;
    height: 20vh;
    align-items: center;

    color: white;
    font-family: 'Montserrat';
    font-size: 1em;
    flex-shrink: initial;
}

.f {
    width: 5%;
}

.main-title-form {
    display: flex;
    width: 30%;
    align-items: center;
    align-self: center;
}
  
  .label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
  }
  
  .searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .input {
    width: 80%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  
  .submit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  .searchQuerySubmit:hover {
    cursor: pointer;
  }

.filter-box {
    display: flex;
    width: 40%;
    font-size: 1em;

    justify-content: flex-end;
}

.filter {
    width: 50px;
    filter: invert(100%);
}

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgb(16,22,29);
   
}

.content {
    width: 80%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(47, 53, 62);
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1%;
}

.item-image {
    width: 20%;
    height: fit-content;
    justify-self: center;
    align-self: center;
}

.item-info {
    width: 70%;
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
}

.add {
    align-self: center;
    width: 4%;
    height: fit-content;
   
}




@media only screen and (max-width: 1620px) {
    .main-title {
        font-size: .8em;
    }
}


@media only screen and (max-width: 740px) {
    

    .main {
        height: 100vh;
    }
    
    .main-title {
        font-size: .7em
    }
    
    .item-info {
        font-size: .5rem;
    }

    .nav-logo-container {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-left: 5%;
    }
    
    .nav-logo {
        height: fit-content;
        width: 100%;
        display: none;
    }
    
    .nav-logo-alt {
        display: inline;
        width: 100%;
    }

    .nav-text {
        height: 10%;
        width: fit-content;
    
        text-decoration: none;
        font-family: 'Roboto';
        font-weight: bolder;
        font-size: .8em;
        color: white;
    }
}